<div class="row container">
  <div class="col-lg-5 col-sm-8 col-md-7 mx-auto">
    <div class="card card-signin my-5">
      <div class="card-body">
        <h5 class="card-title text-center">Sign In</h5>
        <form class="form-signin" [formGroup]="loginForm" (submit)="login()">
          <div class="form-label-group">
            <input type="text" id="username" class="form-control"
                   placeholder="Username" required autofocus name="username"
                   formControlName="username" [(ngModel)]="credentials.username">
            <label for="username">Username</label>
          </div>

          <div class="form-label-group">
            <input type="password" id="password" class="form-control"
                   placeholder="Password" required name="password"
                   formControlName="password" [(ngModel)]="credentials.password">
            <label for="password">Password</label>
          </div>

          <div class="custom-control custom-checkbox mb-3">
            <input type="checkbox" class="custom-control-input" checked="checked" id="customCheck1">
            <label class="custom-control-label" for="customCheck1">Remember password</label>
          </div>
          <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Sign in</button>
          <hr class="my-4">
          <div class="container">
            <button type="button" class="btn btn-danger">Cancel</button>
            <span class="pull-right">Forgot <a href="#">password?</a></span>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="col-lg-5 img">
    <img src="../../assets/img/logo_gest_stock.jpg" class="rounded-circle" />
  </div>
</div>

