<div class="row">
  <div class="col-lg-8">
    <table class="table table-hover table-striped">
      <thead>
      <tr>
        <th *ngFor="let dataModel of dataModelList">{{dataModel.columnReference}}</th>
        <th>
          <button class="btn btn-outline-primary btn-sm" (click)="operation = 'add'; initData();">ADD</button>
        </th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of data">
        <td *ngFor="let dataModel of dataModelList">{{item[dataModel.columnName]}}</td>
        <td>
          <button class="btn btn-outline-primary" (click)="operation = 'edit'; selectedItem = item">Edit</button>
          <button class="btn btn-outline-danger" (click)="operation = 'remove'; selectedItem = item">Remove</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="col-lg-4">
    <div class="card">
      <div class="card-header bg-info text-white">
        {{
        operation == 'add' ? 'Ajouter un Produit' :
        operation == 'edit' ? 'Modifier Produit' :
        operation == 'remove' ? 'Supprimer Produit' : ''
        }}
      </div>
      <div class="card-body">

        <div  *ngIf="operation == 'add' || operation == 'edit'">
          <form [formGroup]="crudForm">
            <!--<div class="alert alert-danger"
                 *ngIf="crudForm.controls['ref'].invalid && (crudForm.controls['ref'].touched || crudForm.controls['ref'].dirty)">
              La référence est Obligatoire !
            </div>-->

            <div *ngFor="let dataModel of dataModelList" [ngSwitch]="dataModel.dataType">
              <div class="form-group" *ngIf="!dataModel.readonly">
                <label>{{dataModel.columnReference}}:</label>

                <input *ngSwitchCase="'string'" type="text" formControlName="{{dataModel.columnName}}"
                       class="form-control" [(ngModel)]="selectedItem[dataModel.columnName]" />

                <input *ngSwitchCase="'number'" type="number" formControlName="{{dataModel.columnName}}"
                       class="form-control" [(ngModel)]="selectedItem[dataModel.columnName]" />
              </div>
            </div>

            <button class="btn btn-success"
                    [disabled]="crudForm.pristine || crudForm.invalid"
                    (click)="operation == 'add' ? add() : update()">
              {{operation == 'add' ? 'Ajouter' : operation == 'edit' ? 'Modifier' : ''}}
            </button>
          </form>

        </div>
        <div *ngIf="operation == 'remove'">
          <p class="card-title">Référence: {{selectedItem.id}}</p>
          <p>Voulez-vous supprimer cet éléments ?</p>
          <button class="btn btn-success" [disabled]="!selectedItem.ref" (click)="delete()">Confirmer</button>
        </div>

      </div>
      <div class="card-footer bg-info"></div>
    </div>
  </div>
</div>
